<!DOCTYPE html>
<html>
<head>
    <title>Register Face</title>
</head>
<body>

<h1>Register Face Online</h1>

<input type="text" id="student_name" placeholder="Enter Student Name">

<br><br>

<video id="video" width="400" autoplay></video>

<br><br>

<button onclick="captureFace()">Capture Face</button>

<canvas id="canvas" style="display:none;"></canvas>

<script>

navigator.mediaDevices.getUserMedia({ video: true })
.then(function(stream) {
    document.getElementById('video').srcObject = stream;
});

function captureFace(){

    let canvas = document.getElementById('canvas');
    let video = document.getElementById('video');

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    let ctx = canvas.getContext('2d');
    ctx.drawImage(video,0,0);

    let image = canvas.toDataURL('image/jpeg');

    let student_name = document.getElementById('student_name').value;

    fetch('/save_face',{

        method:'POST',

        headers:{
            'Content-Type':'application/x-www-form-urlencoded'
        },

        body:
        'student_name='+student_name+
        '&image='+encodeURIComponent(image)

    })

    .then(res=>res.text())
    .then(data=>alert(data));
}

</script>

</body>
</html>