<!DOCTYPE html>
<html>
<head>
    <title>Class Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/dashboard">
    <button>← Back Dashboard</button>
</a>

<div class="main">

    <h1>📚 Class Students</h1>

    <div class="cards">

        {% if students %}

            {% for student in students %}

            <div class="card">

                <h3>👨‍🎓 {{ student[1] }}</h3>

                <p><strong>Roll No:</strong> {{ student[2] }}</p>

                <a href="/delete_student/{{ student[0] }}">
                    <button style="background:red;">
                        Delete Student
                    </button>
                </a>

            </div>

            {% endfor %}

        {% else %}

            <h3>No Students Found</h3>

        {% endif %}

    </div>
<button>View Attendance</button>
</div>

</body>
</html>