<!DOCTYPE html>
<html>
<head>
    <title>AI Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">

    <div class="logo">
        AI Attendance System
    </div>

    <div>
        <a href="/login" class="nav-btn">
            Teacher Login
        </a>
    </div>

</nav>


<section class="hero">

    <div class="hero-content">

        <h1>Smart Classroom Attendance Management</h1>

        <p>
            AI Powered Face Recognition Attendance System
        </p>

        <a href="/login">
            <button>Get Started</button>
        </a>
<img src="/static/ai-bg.png" width="400">
    </div>

</section>

</body>
</html>