<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <h2>👨‍🏫 Teacher Login</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Enter Username" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit">Login</button>

        </form>

        <p>Don't have an account?</p>

        <a href="/register_teacher">
            <button class="secondary-btn">Create Teacher Account</button>
        </a>

    </div>

</div>

</body>
</html>