<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">

<div class="form-card">

<h1>👨‍🎓 Register Student</h1>

<form method="POST">

<input type="text"
name="student_name"
placeholder="Student Name"
required>

<input type="text"
name="roll_no"
placeholder="Roll Number"
required>

<select name="class_id" required>

<option value="">Select Class</option>

{% for class in classes %}

<option value="{{ class[0] }}">
    {{ class[1] }}
</option>

{% endfor %}

</select>


<button type="submit">
Register Student
</button>

</form>

</div>

</div>

</body>
</html>